<!-- list-bus.component.html -->
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3"> 
    <h3>Lista de Categorías</h3>
  <button class="btn btn-success" (click)="abrirModal()">Nueva Categoría</button>
  </div>


  <table class="table mt-3" *ngIf="categorias && categorias.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ categoria.categoriaId }}</td>
        <td>{{ categoria.nombreCategoria }}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="editarCategoria(categoria)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarCategoria(categoria.categoriaId)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Mensaje cuando no hay categorías -->
  <div *ngIf="!categorias || categorias.length === 0" class="alert alert-info">
    No hay categorías registradas.
  </div>
</div>


  <app-crear-cat
  [categoriaEditar]="categoriaSeleccionado"
  (categoriaCreado)="cargarCategoria()">
</app-crear-cat>
